{{#if error}}
    {{> error_card}}
{{else}}
<div class="row">
    <div class="col s12 l5">
        <div class="card large">
            {{#if image_file_name}}
            <div class="card-content recipe-image" style="background-image:url('{{image_file_name}}'); height:100%;"></div>
            {{else}}
            <div class="card-content recipe-image" style="background-image:url('../images/placeholder.svg'); height:100%;"></div>
            {{/if}}
        </div>
    </div>

    <div class="col s12 l7">
        <div class="card">
            <div class="card-content center-align">

                {{#if ingredients}}
                <div>
                    <h5 class="deep-orange-text text-darken-2">ingredients</h5>
                    <ul class="browser-default">
                        {{#each ingredients}}
                        <li>{{ingredient_amount.amount}} {{ingredient_name}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if instructions}}
                <div>
                    <h5 class="deep-orange-text text-darken-2">instructions</h5>
                    <p>
                        {{instructions}}
                    </p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="center-align">
    <a href="/user/1" class="waves-effect waves-light btn">more recipes by {{username}}</a>
</div>
{{/if}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="/javascript/rating.js"></script>